@import "colors";

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0 auto;
}
.App {
	text-align: center;
}
.App-header {
	align-items: center;
	background-color: $bg-color;
	color: $text-color;
	display: flex;
	flex-direction: column;
	font-size: calc(10px + 2vmin);
	justify-content: center;
	min-height: 100vh;
	img {
		border-radius: 50%;
		max-width: 100%;
		width: 500px;
	}
	ul {
		list-style: none;
		margin: 0 0 1em;
		padding: 0;
		&> li {
			display: inline-block;			
			margin-left: .5em;
			&:before {
				content: '|';
				padding: 0 10px 0 0;
			}
			&:first-child {
				margin-left: 0;
				&:before {
					content: '';
				}

			}

		}
	}
}
.App-link {
	color: $link-color;
}
